.menubar {
    background-color: purple;
    display: flex;
    max-height: 90px;
}

.menubar > .menuitem {
    flex: 0 0 20%;
} 

.dropbtn {
    height: 100%;
    width: 100%
}

.dropdown-items {
    
    opacity: 0;
    
    border: 1px black solid;
    padding: 0 auto;
    box-shadow: 20px 20px 50px grey;
    transition: opacity 1500ms;
    max-height: 300px;
    overflow-y: scroll;
}

.dropdown-items.active {
    opacity: 1;
    z-index: 1000;
}


