/* The CSS from 3 to 41 allows the card to flip on hover */

.flashCard-container {
    -webkit-perspective: 1000;
    margin: 15px auto;
}

/*Switch the commentted text to switch between on click vs. on hover*/


.flashCard-container.hover .flipper {
    -webkit-transform: rotateY(180deg);
}

.flashCard-container,
.front,
.back {
    width: 500px;
    height: 400px;
}

.flipper {
    -webkit-transition: 0.6s;
    -webkit-transform-style: preserve-3d;
    position: relative;
}

.front,
.back {
    -webkit-backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
}

.front {
    z-index: 2;
    background: lightblue;
    box-shadow: 20px 20px 50px black
}

.back {
    -webkit-transform: rotateY(180deg);
    background: lightcoral;
    box-shadow: 20px 20px 50px black
}

.answerReveal {
    /* font: italic bold 20px Georgia, serif; */
    font-weight: bold;
    text-align: left;
}

.question {
    text-align: left;
}

pre {
    margin: 0;
    padding: 0;
}

.answerColumn {
    column-count: 2

}

li {
    list-style: none;
}