/* The CSS from 3 to 41 allows the card to flip on hover */

.flashCard-container {
    -webkit-perspective: 1000;
    margin: 15px auto;
}

/*Switch the commentted text to switch between on click vs. on hover*/


.flashCard-container.hover .flipper {
    -webkit-transform: rotateY(180deg);
}


.flashCard-container,
.front,
.back {
    width: 100%;
    height: 400px;
    text-align: center;
}

.flipper {
    -webkit-transition: 0.6s;
    -webkit-transform-style: preserve-3d;
    position: relative;
    margin-top: 20px;
}

.front,
.back {
    -webkit-backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
}

.front {
    z-index: 2;
    background: white;
    box-shadow: 20px 20px 50px black;
    position: relative;
}

.back {
    -webkit-transform: rotateY(180deg);
    background: white;
    box-shadow: 20px 20px 50px black
}

.answerReveal {
    /* font: italic bold 20px Georgia, serif; */
    font-weight: bold;
    text-align: left;
}

.question {
    text-align: center;
    padding-top: 50px;
}

pre {
    margin: 0;
    padding: 0;
}

.answerColumn {
    column-count: 1;
    text-align: center;
    
}

.answerChocie {
    padding: 50px;
    
}

li {
    list-style: none;
    font-size: 30px;
}

.fcNumber {
    position: absolute; 
    bottom: 0;
    right: 0;
    text-align: right;
    left: 50%;
    padding: 10px;
}

.fcForm {
}

.flipBtn {
    margin-top: 20px;
}