
/* The CSS from 3 to 41 allows the card to flip on hover */
.flashCard-container {
    -webkit-perspective: 1000;
    margin: 15px auto;
}

/*Switch the commentted text to switch between on click vs. on hover*/


.flashCard-container.hover .flipper {
    -webkit-transform: rotateY(180deg);
}


.flashCard-container,
.front,
.back {
    width: 600px;
    height: 400px;
    text-align: left;
}

.flipper {
    -webkit-transition: 0.6s;
    -webkit-transform-style: preserve-3d;
    position: relative;
    margin-top: 20px;
}

.front,
.back {
    -webkit-backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
}

.front {
    z-index: 2;
    background: white;
    box-shadow: 20px 20px 50px black;
    position: relative;
}

.back {
    -webkit-transform: rotateY(180deg);
    background: white;
    box-shadow: 20px 20px 50px black
}

.answerReveal {
    /* font: italic bold 20px Georgia, serif; */
    font-weight: bold;
    text-align: left;
}

<<<<<<< HEAD
.fcQuestion {
    text-align: center;
    padding-top: 40px;
    padding-left: 30px;
    padding-right: 30px;
    
=======
.question {
    text-align: left;
    padding: 20px 20px 0p 20px;
>>>>>>> 9d06396c884854ff74e7f9a222c021a2b3586858
}

pre {
    margin: 0;
    padding: 0;
    line-height: 1;
}

.answerColumn {
    column-count: 1;
    text-align: left;

}

.answerChocie {
    padding: 50px;

}

li {
    list-style: none;
    font-size: 30px;
}

.fcNumber {
    position: absolute;
    bottom: 0;
    right: 0;
    text-align: right;
    left: 50%;
    padding: 10px;
}

.fcForm {
}

.flipBtn {
    margin-top: 20px;
}

<<<<<<< HEAD
.rightChev {
    color: black;
=======
.Prev {
  position: fixed;
  bottom: 0;
  left: 0;
}
.Next {
  position: fixed;
  bottom: 0;
  right: 0;
>>>>>>> 9d06396c884854ff74e7f9a222c021a2b3586858
}