html {
    background-color: #2c93a4;
    font-family: museo-sans,sans-serif;
}

.jumbo-landing {
    text-align: center;
}

.studyBtn {
    background-color: #11c8e7;
    margin: 0 30px 30px 30px;
}

.studyBtn:hover {
    background-color: #2c93a4;
}
.landingPage {
    background-color: white;
    margin-top: 50px;

}


